<?xml version="1.0"?>
<launch>
    <arg name="video" default="0" />
    <arg name="video_width" default="640" />
    <arg name="video_height" default="480" />
    <arg name="video_codec" default="mp42" />
    <arg name="video_path" default="/home/ildoonet/Documents/grid_[timestamp].avi" />
    <arg name="video_topic" default="/video_recorder/image_raw" />

    <node name="cv_camera" pkg="cv_camera" type="cv_camera_node" output="screen" required="true">
    </node>

    <node name="video_recorder" pkg="video_recorder" type="recorder.py" output="screen" required="true">

        <param name="output_width" type="int" value="640" />
        <param name="output_height" type="int" value="480" />
        <param name="output_format" value="$(arg video_codec)" />
        <param name="output_path" value="$(arg video_path)" />

        <param name="output_topic" value="$(arg video_topic)" />

        <param name="source1" value="/cv_camera/image_raw,0,0,320,240" />
        <param name="source2" value="/cv_camera/image_raw,320,0,320,240" />
        <param name="source3" value="/cv_camera/image_raw,0,240,320,240" />
        <!--<param name="source4" value="/cv_camera/image_raw,320,240,320,240" />-->
    </node>

    <node name="image_view_grid" pkg="image_view" type="image_view" respawn="false" output="screen" required="true">
        <remap from="image" to="$(arg video_topic)"/>
        <param name="autosize" value="true" />
    </node>

</launch>
